{
  "singleQuote": true,
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": true,
  "overrides": [
    {
      "files": "app/models/game.server.ts",
      "options": { "singleQuote": false }
    }
  ]
}
