rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Users collection
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;

      // Activities subcollection
      match /activities/{activityId} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }
    }

    // Usernames collection
    match /usernames/{username} {
      allow read;
      allow write: if request.auth != null &&
                   request.resource.data.uid == request.auth.uid &&
                   username.matches('^[a-zA-Z0-9]{1,16}$');
    }

    // Puzzles collection
    match /puzzles/{puzzleId} {
      allow read, write: if request.auth != null;
    }

    // Stats collection
    match /stats/{statId} {
      allow read;
      allow write: if 
                   (request.auth != null &&
                    request.resource.data.keys().hasAny(['firstSolver']) &&
                    request.resource.data.firstSolver == get(/databases/$(database)/documents/users/$(request.auth.uid)).data.username &&
                    resource.data.firstSolver == null)
                   || 
                   (!request.resource.data.keys().hasAny(['firstSolver']));
    }
  }
}
